.sliderjs {
  &.th-white-icon .fullscreenButton {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAIABAAAAAP///yH5BAEKAAEALAAAAAAPAA8AAAIjhBGpcbefHIKRzfku3blxpmAUJkLk15RfVpkRooZWvKRxUwAAOw==);
  }
  &.th-black-icon .fullscreenButton {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAIAAAP///////yH5BAEKAAEALAAAAAAPAA8AAAIjhBGpcbefHIKRzfku3blxpmAUJkLk15RfVpkRooZWvKRxUwAAOw==);
  }
}
.sliderjs.fullscreen {
  &.th-white-icon .fullscreenButton {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAIABAAAAAP///yH5BAEKAAEALAAAAAAPAA8AAAIkRGKneOarXksQJGvhzLprzHkU1Y1eE50IqKrsh02lSaZSjSIFADs=);
  }
  &.th-black-icon .fullscreenButton {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAIAAAP///////yH5BAEKAAEALAAAAAAPAA8AAAIkRGKneOarXksQJGvhzLprzHkU1Y1eE50IqKrsh02lSaZSjSIFADs=);
  }
}
