.sliderjs {
  .loopBar {
    height: 19px;
    position: relative;
    .loopBar-inner {
      position: absolute;
      top: 40%;
      height: 20%;
      left: 0;
      background: black;
      .border-radius(4px);
    }
  }
}
