.sliderjs {
  .pages {
    padding: 0 10px;
    a {
      padding: 1px 3px;
      font-size: 12px;
      min-width: 7px;
      display: inline-block;
      .border-radius(5px);
      .transition-duration(~"0.5s, 0.5s");
      .transition-property(~"background, color");
    }
  }
}
