
.sliderjs.th-white-icon .playPauseControl {
  &.play {
    background-image: url(data:image/png;base64,R0lGODlhDwAPAKEBAAAAAP///////////yH5BAEKAAEALAAAAAAPAA8AAAIfjAOna5DM3INHTmpvzBRlXX2gx0FfV2JS1zhs+zZsAQA7);
  }
  &.pause {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAIABAAAAAP///yH5BAEKAAEALAAAAAAPAA8AAAIjjI9pwMmAnmtHRrpwhlUHu01ceI2fB56mWortS3Zmyir2UQAAOw==);
  }
}

.sliderjs.th-black-icon .playPauseControl {
  &.play {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAKEBAAAAAP///////////yH5BAEKAAAALAAAAAAPAA8AAAIfhBGna5HM3INHTmpvzBRlXX2gx0FfV2JS1zhs+zZsAQA7);
  }
  &.pause {
    background-image: url(data:image/gif;base64,R0lGODlhDwAPAIAAAP///////yH5BAEKAAEALAAAAAAPAA8AAAIjjI9pwMmAnmtHRrpwhlUHu01ceI2fB56mWortS3Zmyir2UQAAOw==);
  }
}
