
.sliderjs.th-black-blue-controls {
  .footer a {
    background-color: #000;
    color: #91BECC;
  }
  .page {
    border-color: #91BECC;
    &.current {
      background-color: #91BECC;
      color: black;
      border-color: black;
    }
  }
}
